body {
  font-family: serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 960px;
}

header * {
  text-align: center;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

main :nth-child(odd) {
  width: 465px;
}

main :nth-child(even) {
  width: 465px;
}

main ol {
  width: 430px !important;
}

p {
  text-align: justify;
  hyphens: auto;
}

p.subtitle,
p.author {
  text-align: center;
}

hr {
  text-align: center;
  border: 0;
}

hr:after {
  content: "⁂";
}
